<div *ngIf="showActions">
    <div class="grid-container">
        <h1 class="mat-h1" style="margin-left: 20px;">Newsfeed Dashboard</h1>
        <mat-grid-list cols="3" rowHeight="350px">
            <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                            {{card.title}}
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                                    aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Expand</button>
                                <button mat-menu-item>Remove</button>
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div *ngIf="card.showoption == 'admin_table'">
                            <div class="col-xs-12 table-wrapper board board-small">
                                <table mat-table [dataSource]="rowData" class="table table-stripes">
                                    <ng-container matColumnDef="no">
                                        <th mat-header-cell *matHeaderCellDef> NO</th>
                                        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="u_name">
                                        <th mat-header-cell *matHeaderCellDef> Username</th>
                                        <td mat-cell *matCellDef="let element"> {{element.u_name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="headline">
                                        <th mat-header-cell *matHeaderCellDef> Headline</th>
                                        <td mat-cell *matCellDef="let element"> {{element.headline}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="article_createdate">
                                        <th mat-header-cell *matHeaderCellDef> Created</th>
                                        <td mat-cell *matCellDef="let element"> {{element.article_createdate}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                        (click)="onSelectionAdminChanged(row)"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                        <div *ngIf="card.showoption == 'user_table'">
                            <div class="col-xs-12 table-wrapper board board-small">
                                <table mat-table [dataSource]="rowData" class="table table-stripes">
                                    <ng-container matColumnDef="no">
                                        <th mat-header-cell *matHeaderCellDef> NO</th>
                                        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="u_name">
                                        <th mat-header-cell *matHeaderCellDef> Username</th>
                                        <td mat-cell *matCellDef="let element"> {{element.u_name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="headline">
                                        <th mat-header-cell *matHeaderCellDef> Headline</th>
                                        <td mat-cell *matCellDef="let element"> {{element.headline}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="article_createdate">
                                        <th mat-header-cell *matHeaderCellDef> Created</th>
                                        <td mat-cell *matCellDef="let element"> {{element.article_createdate}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                        (click)="onSelectionUserChanged(row)"></tr>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="card.showoption == ''">
                            <div class="col-xs-12 table-wrapper board board-small">
                                <table mat-table [dataSource]="rowData" class="table table-stripes">
                                    <ng-container matColumnDef="no">
                                        <th mat-header-cell *matHeaderCellDef> NO</th>
                                        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="u_name">
                                        <th mat-header-cell *matHeaderCellDef> Username</th>
                                        <td mat-cell *matCellDef="let element"> {{element.u_name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="headline">
                                        <th mat-header-cell *matHeaderCellDef> Headline</th>
                                        <td mat-cell *matCellDef="let element"> {{element.headline}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="article_createdate">
                                        <th mat-header-cell *matHeaderCellDef> Created</th>
                                        <td mat-cell *matCellDef="let element"> {{element.article_createdate}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                        (click)="onSelectionChanged(row)"></tr>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="card.showchart && card.showoption == 'chart1'">
                            <div style="display: flex; margin: auto; width: 245px; height: 245px; padding: 10px;">
                                <canvas baseChart
                                        [data]="doughnutChartData"
                                        [labels]="doughnutChartLabels"
                                        [chartType]="doughnutChartType">
                                </canvas>
                            </div>
                        </div>
                        <div *ngIf="card.showchart && card.showoption == 'chart2'">
                            <div style="display: flex; margin: auto; width: 245px; height: 245px; padding: 10px;">
                                <canvas baseChart
                                        [data]="doughnutChartData"
                                        [labels]="doughnutChartLabels"
                                        [chartType]="doughnutChartType"
                                >
                                </canvas>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-card style="margin: 32px 16px;">
        <mat-card-header>
            <mat-card-title>
                Last Story
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                        aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
            </mat-card-title>
        </mat-card-header>
        <div class="board">
            <table>
                <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Headline</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of rowData; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{data.u_name}}</td>
                    <td>{{data.headline}}</td>
                    <td>{{data.article_createdate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </mat-card>
    </div>
</div>
<div *ngIf="!showActions">
    <div style="text-align:center">
        <h1>
            Welcome to MSE site!
        </h1>
        <img width="300" alt="Angular Logo"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <h2 style="text-align:center;">Now you cannot access to page. </h2>
</div>
