* {
  outline: none !important;
}

.row button {
  color: #000;
}
.card {
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
.form-group  {
  .forgot-btn {
    font-size: 14px;
  }
  label {
    color: #fff3f4;
  }
}
.col-md-4 {
  button {
    font-size: 14px;
    i {
      color: blue;
    }
  }
}
