<div *ngIf="showActions">
    <div class="p-header">Home</div>
    <div class="p-title">Hi, please see what happens!</div>
    <div class="grid-container">
        <mat-card style="margin-bottom: 32px">
            <div class="mat-card-header">
                Your World, Today
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                        aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content style="margin-top: 16px">
                <div class="row">
                    <div class="float-right search-btn">
                        <mat-form-field class="float-right" style="width:400px;">
                            <mat-label>Please insert place address</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let business of businessData" value="{{business.name}}" (click)="onAddress(business.id)">{{business.name}}</mat-option>
                                <mat-option value="All" (click)="onAddressAll()">Default</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
                    <agm-marker
                            *ngFor="let data of mapData"
                            [latitude]="data.lat"
                            [longitude]="data.lng"
                    >
                        <agm-info-window>
                            <div class="feed">
                                <img [src]="data.pic">
                                <div class="content">
                                    {{data.name}}<br/>
                                    {{data.address}}<br/>
                                    <span>by</span> {{data.userName}}
                                </div>
                            </div>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </mat-card-content>
        </mat-card>
        <mat-card style="margin-bottom: 32px">
            <div class="mat-card-header">
                Businesses list by Industry
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                        aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
            </div>
            <mat-divider></mat-divider>
            <google-chart
                    [type]="type1"
                    [data]="businessList"
                    [options]="options1"
                    style="width: 100%; height: 350px; padding-top: 16px; pointer-events: none"
            >
            </google-chart>
        </mat-card>
        <mat-card style="margin-bottom: 32px">
            <div class="mat-card-header">
                Tenure List
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                        aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
            </div>
            <mat-divider></mat-divider>
            <google-chart
                    [type]="type2"
                    [data]="tenureList"
                    [options]="options2"
                    style="width: 100%; height: 350px; padding-top: 16px"
            >
            </google-chart>
        </mat-card>
        <mat-card style="margin-bottom: 32px">
            <div class="mat-card-header">
                Business Goals
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                        aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
            </div>
            <mat-divider></mat-divider>
            <google-chart
                    [type]="type2"
                    [data]="goalList"
                    [options]="options2"
                    style="width: 100%; height: 350px; padding-top: 16px"
            >
            </google-chart>
        </mat-card>
        <mat-card style="margin-bottom: 32px">
            <div class="mat-card-header">
                Business List
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                        aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
            </div>
            <mat-divider></mat-divider>
            <div class="table-responsive">
                <table class="table-devias">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Business Name</th>
                            <th>Business Location</th>
                            <th>Business Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of dataSource">
                            <td>{{task.no}}</td>
                            <td>{{task.name}}</td>
                            <td>{{task.location}}</td>
                            <td>{{task.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                           [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
            </mat-paginator>
        </mat-card>
    </div>
</div>
<div *ngIf="!showActions">
    <div style="text-align:center">
        <h1>
            Welcome to MSE site!
        </h1>
        <img width="300" alt="Angular Logo"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <h2 style="text-align:center;">Now you cannot access to page. </h2>
</div>
