.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.search-btn {
  min-width: 400px;
  margin-left: calc(100% - 416px);
  .location-btn {
    cursor: pointer;
    &:hover {
      background: #eceff1;
      border-radius: 50%;
    }
  }
}

.border-table {
  width: 100%;
  margin-bottom: 10px;
  tr {
    &:hover {
      background: #e1e1e1 !important;
      cursor: pointer;
    }
  }
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
agm-map {
  height: 500px;
}

.table-warp {
  height: 80px;
  overflow-y: auto;
}

.feed {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  color: #263238;
  font-size: 16px;

  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.05px;
  img {
    width: 60px;
    margin-right: 10px;
  }
  .content {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    span {
      color: #546e7a;
      font-size: 12px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.04px;
    }
  }

}
