.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.search-btn {
  min-width: 400px;
  margin-left: calc(100% - 416px);
}

.border-table {
  width: 100%;
  margin-bottom: 10px;
  tr {
    &:hover {
      background: #e1e1e1 !important;
      cursor: pointer;
    }
  }
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
agm-map {
  height: 500px;
}

.table-warp {
  height: 80px;
  overflow-y: auto;
}
