.slider-container {
    display: flex;
    flex-direction: column;
  position: relative;
}

.slides {
    display: flex;
    overflow-x: scroll;
scroll-behavior: smooth;

&::-webkit-scrollbar {
     width: 0px;
     background: transparent;
 }

}

.btn_prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
}
.btn_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
}

