<div *ngIf="showActions">
    <div class="container">
        <div class="p-header">Users Information</div>
        <div class="p-title">User in your organization</div>
        <div class="initial-tab">
            <mat-tab-group>
                <mat-tab label="My Profile">
                    <div class="row">
                        <div class="col-lg-3">
                            <mat-card>
                                <div class="profile-picture">
                                    <img [src]="myData.u_avatar" alt="photo">
                                    <div class="profile-name">
                                        {{myData.u_name}}
                                    </div>
                                    <div class="profile-detail">
                                        {{myData.u_email}}
                                    </div>
                                    <input id="file" class="file-upload-btn" type="file" accept='image/*' (change)="preview($event.target)"/>
                                    <label for="file" class="mt-5">Upload Image</label>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col-lg-9">
                            <mat-card>
                                <div class="mat-card-header">My Profile</div>
                                <mat-divider></mat-divider>
                                <div class="table-responsive mb-4">
                                    <table class="table-devias odd">
                                        <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td>{{myData.u_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>{{myData.u_email}}</td>
                                        </tr>
                                        <tr>
                                            <td>Phone Number</td>
                                            <td>{{myData.u_phonenum}}</td>
                                        </tr>
                                        <tr>
                                            <td>Created Date</td>
                                            <td>{{myData.u_createddate}}</td>
                                        </tr>
                                        <tr>
                                            <td>Role</td>
                                            <td>{{myData.u_acconuttype}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <mat-slide-toggle (click)="onChange()" style="margin-bottom: 16px" checked *ngIf="onShow && !myData.provider">
                                    <div class="mat-title" style="margin: 0">Change Password</div>
                                </mat-slide-toggle>
                                <mat-slide-toggle (click)="onChange()" style="margin-bottom: 16px" *ngIf="!onShow && !myData.provider">
                                    <div class="mat-title" style="margin: 0">Change Password</div>
                                </mat-slide-toggle>
                                <mat-slide-toggle (click)="onChange()" style="margin-bottom: 16px" *ngIf="myData.provider" disabled>
                                    <div class="mat-title" style="margin: 0">Change Password</div>
                                </mat-slide-toggle>
                                <form [formGroup]="registerForm" *ngIf="onShow" (ngSubmit)="onSubmit()">
                                    <mat-form-field style="margin-bottom: 16px">
                                        <mat-label>Old Password</mat-label>
                                        <input matInput type="password" placeholder="Insert old password" formControlName="oldPassword">
                                        <mat-hint>Please Insert your old password</mat-hint>
                                        <mat-error *ngIf="submitted && f.oldPassword.errors">
                                            <div *ngIf="f.oldPassword.errors.required">
                                                Password is required
                                            </div>
                                            <div *ngIf="f.oldPassword.errors.notMatch">
                                                Passwords doesn't match
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field style="margin-bottom: 16px">
                                        <mat-label>New Password</mat-label>
                                        <input matInput type="password" placeholder="Insert new password" formControlName="newPassword">
                                        <mat-hint>Password has to be more than 6 letters</mat-hint>
                                        <mat-error *ngIf="submitted && f.newPassword.errors">
                                            <div *ngIf="f.newPassword.errors.required">
                                                Old Password is required
                                            </div>
                                            <div *ngIf="f.newPassword.errors.minlength">
                                                New Password must be at least 6 characters
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field style="margin-bottom: 16px">
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput type="password" placeholder="Insert password again" formControlName="confirmPassword">
                                        <mat-hint>Please type your password again!</mat-hint>
                                        <mat-error *ngIf="submitted && f.confirmPassword.errors">
                                            <div *ngIf="f.confirmPassword.errors.required">
                                                Confirm Password is required
                                            </div>
                                            <div *ngIf="f.confirmPassword.errors.mustMatch">
                                                Passwords must match
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-divider></mat-divider>
                                    <mat-card-actions style="padding-bottom: 36px">
                                        <button type="submit" mat-raised-button class="theme-btn float-right mr-2">Save</button>
                                        <button type="button" mat-button class="float-right mr-4" (click)="close()">Cancel</button>
                                    </mat-card-actions>
                                </form>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="User List">
                    <mat-card style="margin-bottom: 32px">
                        <div class="float-right">
                            <button mat-stroked-button style="color: #3f51b5; top: -8px" (click)="addUser()">Add User</button>
                        </div>
                        <div class="mat-card-header">
                            User List
                        </div>
                        <mat-divider></mat-divider>
                        <div class="table-responsive">
                            <table class="table-devias">
                                <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let task of dataSource; index as index">
                                    <td>{{index+1}}</td>
                                    <td>{{task['u_name']}}</td>
                                    <td>{{task['u_email']}}</td>
                                    <td>{{task['u_createddate']}}</td>
                                    <td>
                                        <mat-slide-toggle *ngIf="task.u_active == 'InActive'" (click)="freezeUser(task.u_id, 'active')">InActive</mat-slide-toggle>
                                        <mat-slide-toggle *ngIf="task.u_active == 'Active'" (click)="freezeUser(task.u_id, 'inactive')" checked>Activated</mat-slide-toggle>
                                    </td>
                                    <td>
                                        <mat-form-field style="width: 110px">
                                            <mat-label>Select Role</mat-label>
                                            <mat-select [(value)]="task['selected']" (selectionChange)="changeRole($event, task.u_id)">
                                                <mat-option value="Senior Admin">Senior Admin</mat-option>
                                                <mat-option value="Junior Admin">Junior Admin</mat-option>
                                                <mat-option value="Moderator">Moderator</mat-option>
                                                <mat-option value="User">User</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                                       [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                        </mat-paginator>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<div *ngIf="!showActions">
    <div style="text-align:center">
        <h1>
            Welcome to MSE site!
        </h1>
        <img width="300" alt="Angular Logo"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <h2 style="text-align:center;">Now you cannot access to page. </h2>
</div>
