<button type="button" class="btn-notifications" mat-icon-button [matMenuTriggerFor]="menu" (click)="closeNotificationsMenu()">
  <i *ngIf="!messages[0]?.count" class="fa fa-envelope" style="color: white"></i>
  <i *ngIf="messages[0]?.count" class="fa fa-envelope" style="color: white"></i>
  <span *ngIf="messages[0]?.count" class="notifications-count">{{ messages[0]?.count }}</span>
</button>
<mat-menu #menu="matMenu" class="messages">
  <div class="mat-card-header" style="padding: 16px">
    {{ messages.length }} Messages
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <hr class="messages-divider">
      </div>
    </div>
    <ng-container *ngFor="let message of messages">
      <div class="row message" (click)="check(message.id)" routerLink="/pages/catalogue">
        <div class="col-xs-12 message-wrapper">
          <img class="message-image" [src]="message.avatar" alt="PIC">
          <div class="message-content">
            <p class="message-user">
              {{ message.businessName }} <span style="color: #263238">created by</span> {{ message.businessUser }}
            </p>
            <p class="message-text">{{ message.time }}</p>
          </div>
          <span class="arrow-icon">
            <i class="far fa-long-arrow-right" style="font-weight: 300"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr class="messages-divider">
        </div>
      </div>
    </ng-container>
  </div>
  <footer class="text-center">
    <a href="javascript:void(0)">VIEW ALL MESSAGES</a>
  </footer>
</mat-menu>
