<div class="branding-col">
  <button type="button" (click)="toggleSideMenu()" class="menu-toggle">
    <i class="fa fa-bars"></i>
  </button>
  <div class="brand-wrapper hidden-xs">
    <img class="brand-logo" [src]="baseUrl + '/assets/imgs/auth_logo.png'" alt="Angular">
  </div>
  <span class="brand-name">M S E</span>
</div>

<app-search-bar class="hidden-xs"></app-search-bar>

<div class="actions-wrapper">
  <div class="logged-user">
    <div class="user-image-wrapper" [matMenuTriggerFor]="menu">
      <app-preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="myData.u_avatar" alt="profile image" title="profile image"></app-preload-image>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" style="color: white;padding: 0" class="hidden-xs">{{myData.u_name}}</button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleNotificationsMenu()" class="shown-xs">Notifications</button>
    <button mat-menu-item [matMenuTriggerFor]="message" class="shown-xs">Messages</button>
    <button mat-menu-item (click)="logout()">Log out</button>
  </mat-menu>

  <mat-menu #message="matMenu" class="messages">
    <div class="mat-card-header" style="padding: 16px">
      {{ messages.length }} Messages
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <hr class="messages-divider">
        </div>
      </div>
      <ng-container *ngFor="let message of messages">
        <div class="row message" (click)="check(message.id)" routerLink="/pages/catalogue">
          <div class="col-xs-12 message-wrapper">
            <img class="message-image" [src]="message.avatar" alt="PIC">
            <div class="message-content">
              <p class="message-user">
                {{ message.businessName }} <span style="color: #263238">created by</span> {{ message.businessUser }}
              </p>
              <p class="message-text">{{ message.time }}</p>
            </div>
            <span class="arrow-icon">
            <i class="far fa-long-arrow-right" style="font-weight: 300"></i>
          </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <hr class="messages-divider">
          </div>
        </div>
      </ng-container>
    </div>
    <footer class="text-center">
      <a href="javascript:void(0)">VIEW ALL MESSAGES</a>
    </footer>
  </mat-menu>
  <app-messages-menu [messages]="messages" class="hidden-xs"></app-messages-menu>
  <app-notifications-menu-button [notifications]="notifications" class="hidden-xs mr-10 mr-20"></app-notifications-menu-button>
</div>
