<div class="p-header">Portfolio</div>
<div class="p-title">Here are contractions between users</div>
<div class="initial-tab">
    <mat-tab-group>
        <mat-tab label="Portfolio">
            <div *ngIf="historyList.length" style="margin-bottom: 32px">
                <mat-grid-list cols="3" rowHeight="580px" style="margin-left: -16px; margin-right: -16px">
                    <mat-grid-tile
                            *ngFor="let chart of charts"
                            [colspan]="chart.length"
                    >
                        <mat-card style="margin-left: 16px; margin-right: 16px">
                            <div class="mat-card-header">
                                {{chart.title}}
                                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                                        aria-label="Toggle menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item>Expand</button>
                                    <button mat-menu-item>Remove</button>
                                </mat-menu>
                            </div>
                            <mat-divider></mat-divider>
                            <google-chart *ngIf="chart.length == 3"
                                          [type]="chart.type"
                                          [data]="chart.data"
                                          [columnNames]="chart.columnNames"
                                          [roles]="chart.roles"
                                          [options]="chart.options"
                                          style="width: 100%; height: 480px; padding-top: 16px; pointer-events: none"
                            >
                            </google-chart>
                            <google-chart *ngIf="chart.length == 2"
                                          [type]="chart.type"
                                          [data]="chart.data"
                                          [columnNames]="chart.columnNames"
                                          [roles]="chart.roles"
                                          [options]="chart.options"
                                          style="width: 100%; height: 480px; padding-top: 16px"
                            >
                            </google-chart>
                            <google-chart *ngIf="chart.length == 1"
                                          [type]="chart.type"
                                          [data]="chart.data"
                                          [columnNames]="chart.columnNames"
                                          [roles]="chart.roles"
                                          [options]="chart.options"
                                          style="width: 100%; height: 300px; padding-top: 16px"
                            >
                            </google-chart>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-card>
                    <div class="mat-card-header">
                        Business List
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                                aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="table-responsive">
                        <table class="table-devias">
                            <thead>
                            <tr>
                                <th>Number</th>
                                <th>Business Name</th>
                                <th>Business Location</th>
                                <th>Business Address</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let task of dataSource">
                                <td>{{task.no}}</td>
                                <td>{{task.name}}</td>
                                <td>{{task.location}}</td>
                                <td>{{task.address}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
                                   [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                    </mat-paginator>
                </mat-card>
            </div>
            <div *ngIf="!historyList.length" class="text-center" style="margin-top: 35vh">
                <div class="p-title">There is no data!</div>
            </div>
        </mat-tab>
        <mat-tab label="Funders">
            <div *ngIf="myBusiness.length || historyBuyList.length">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6" *ngIf="myBusiness.length">
                        <div class="p-title pt-5 mb-0" style="font-size: 1.2em">My Business</div>
                        <div>
                            <mat-card *ngFor="let business of myBusiness">
                                <div class="mat-card-header" style="font-size: 14px">Business Info</div>
                                <mat-divider></mat-divider>
                                <div class="table-responsive">
                                    <table class="table-devias table-custom">
                                        <tr>
                                            <td>Business Name</td>
                                            <td>{{business.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Business Amount</td>
                                            <td>{{business.amount}}</td>
                                        </tr>
                                        <tr>
                                            <td>Business Address</td>
                                            <td>{{business.address}}</td>
                                        </tr>
                                        <tr>
                                            <td>Business Country</td>
                                            <td>{{business.country}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div *ngIf="!myBusiness.length" class="col-12">
                        <div class="p-title pt-5 mb-0" style="font-size: 1.2em">Contractions</div>
                        <mat-card *ngIf="contractBuySource.length">
                            <div class="mat-card-header">
                                Business List
                                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                                        aria-label="Toggle menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item>Expand</button>
                                    <button mat-menu-item>Remove</button>
                                </mat-menu>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="table-responsive">
                                <table class="table-devias">
                                    <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Date</th>
                                        <th>Business Name | Contract User Name</th>
                                        <th>Amount</th>
                                        <th>Instrument Type</th>
                                        <th>Rate</th>
                                        <th>Next Payment</th>
                                        <th>Frequency of Reporting</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let detail of contractBuySource; index as index">
                                        <td>{{index+1}}</td>
                                        <td>{{detail.date_created | date:'medium'}}</td>
                                        <td>{{detail.businessName}}</td>
                                        <td>{{detail.amount}}</td>
                                        <td>{{detail.fundtype}}</td>
                                        <td>{{detail.rate}}</td>
                                        <td>{{detail.nextDate | date:'medium'}}</td>
                                        <td>{{detail.frequency}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="detailsSize"
                                           [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                            </mat-paginator>
                        </mat-card>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6" *ngIf="myBusiness.length">
                        <div class="p-title pt-5 mb-0" style="font-size: 1.2em">Contractions</div>
                        <mat-card style="margin-bottom: 32px" *ngIf="contractSellSource.length">
                            <div class="mat-card-header">
                                Contract Sell List
                                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                                        aria-label="Toggle menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item>Expand</button>
                                    <button mat-menu-item>Remove</button>
                                </mat-menu>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="table-responsive">
                                <table class="table-devias">
                                    <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Date</th>
                                        <th>Business Name</th>
                                        <th>User Name</th>
                                        <th>Amount</th>
                                        <th>Instrument Type</th>
                                        <th>Rate</th>
                                        <th>Next Payment</th>
                                        <th>Frequency of Reporting</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let sell of contractSellSource; index as index">
                                        <td>{{index+1}}</td>
                                        <td>{{sell.date_created | date:'medium'}}</td>
                                        <td>{{sell.businessName}}</td>
                                        <td>{{sell.userName}}</td>
                                        <td>{{sell.amount}}</td>
                                        <td>{{sell.fundtype}}</td>
                                        <td>{{sell.rate}}</td>
                                        <td>{{sell.nextDate | date:'medium'}}</td>
                                        <td>{{sell.frequency}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="sellSize"
                                           [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                            </mat-paginator>
                        </mat-card>
                        <mat-card style="margin-bottom: 32px" *ngIf="contractBuySource.length">
                            <div class="mat-card-header">
                                Contract Buy List
                                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                                        aria-label="Toggle menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item>Expand</button>
                                    <button mat-menu-item>Remove</button>
                                </mat-menu>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="table-responsive">
                                <table class="table-devias">
                                    <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Date</th>
                                        <th>Business Name</th>
                                        <th>Amount</th>
                                        <th>Instrument Type</th>
                                        <th>Rate</th>
                                        <th>Next Payment</th>
                                        <th>Frequency of Reporting</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let detail of contractBuySource; index as index">
                                        <td>{{index+1}}</td>
                                        <td>{{detail.date_created | date:'medium'}}</td>
                                        <td *ngIf="detail.ownerId == u_id">{{detail.userName}}</td>
                                        <td *ngIf="detail.ownerId != u_id">{{detail.businessName}}</td>
                                        <td>{{detail.amount}}</td>
                                        <td>{{detail.fundtype}}</td>
                                        <td>{{detail.rate}}</td>
                                        <td>{{detail.nextDate | date:'medium'}}</td>
                                        <td>{{detail.frequency}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="detailsSize"
                                           [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                            </mat-paginator>
                        </mat-card>
                        <div *ngIf="myBusiness.length && !historyBuyList.length && !historySellList.length" class="text-center" style="margin-top: 30vh">
                            <div class="p-title">There is no data!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!myBusiness.length && !historyBuyList.length && !historySellList.length" class="text-center" style="margin-top: 35vh">
                <div class="p-title">There is no data!</div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
