<div class="grid-container">
    <h1 class="mat-h1" style="margin-left: 20px;margin-bottom: 48px">Portfolio</h1>
    <div style="width:100%; padding: 0 32px;">
        <div class="row">
            <div class="col-md-2" *ngIf="showbutton">
                <input type="button" class="btn btn-outline-success btn-block" (click)="buy()" value="Buy"/>
            </div>
            <div class="col-md-2" *ngIf="showbutton">
                <input type="button" class="btn btn-outline-danger btn-block" (click)="sell()" value="Sell"/>
            </div>
        </div>

        <div class="row card">
            <div class="col-xs-12 table-wrapper">
                <table mat-table [dataSource]="rowData" class="table table-stripes">
                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> NO</th>
                        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                    </ng-container>

                    <ng-container matColumnDef="b_name">
                        <th mat-header-cell *matHeaderCellDef> Business Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.b_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="b_location">
                        <th mat-header-cell *matHeaderCellDef> Business Location</th>
                        <td mat-cell *matCellDef="let element"> {{element.b_location}} </td>
                    </ng-container>

                    <ng-container matColumnDef="b_address">
                        <th mat-header-cell *matHeaderCellDef> Business Address</th>
                        <td mat-cell *matCellDef="let element"> {{element.b_address}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Amount</th>
                        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectionChanged(row)"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

    </div>
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{card.title}}
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <mat-card-content class="dashboard-card-content">
                        <div *ngIf="card.showchart">
                            <canvas baseChart
                                    [data]="doughnutChartData"
                                    [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType"  style="max-height: 250px;max-width: 250px;display: flex;margin: auto;">
                            </canvas>
                        </div>
                        <div *ngIf="card.showchart1">
                            <div style="display:flex; width:400px; height:400px; margin: auto;margin-top: 15%;">
                                <canvas baseChart
                                        [data]="doughnutChartData"
                                        [labels]="doughnutChartLabels"
                                        [chartType]="doughnutChartType" style="display: flex;margin: auto;">
                                </canvas>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<app-portanalysistree></app-portanalysistree>
