<div *ngIf="showActions">
    <div class="float-right" *ngIf="showUnselectBtn">
        <button mat-raised-button class="mr-2" (click)="unselectRow()">
            UnSelect
        </button>
        <button mat-raised-button class="theme-btn" (click)="deleteArticle()" *ngIf="showDeleteBtn">
            Delete
        </button>
    </div>
    <div class="p-header">Write Story</div>
    <div class="p-title">Please submit your story</div>
    <form enctype="multipart/form-data" [formGroup]="articleForm">
        <mat-card class="flex-none" style="margin-bottom: 16px">
            <div class="mat-card-header">Article Submit</div>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                    aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
            </mat-menu>
            <mat-divider></mat-divider>
            <div class="initial-tab">
                <mat-tab-group>
                    <mat-tab label="Text">
                        <mat-form-field style="margin-top:32px">
                            <mat-label>Headline</mat-label>
                            <input matInput value={{rowselect_headline}} formControlName="headline" [ngClass]="{ 'is-invalid': submitted && f.headline.errors }">
                        </mat-form-field>
                        <mat-form-field style="margin-top:20px">
                            <mat-label>Section1</mat-label>
                            <textarea formControlName="section1" matInput value={{rowselect_section1}} [ngClass]="{ 'is-invalid': submitted && f.section1.errors }"></textarea>
                        </mat-form-field>
                        <mat-form-field style="margin-top:20px">
                            <mat-label>Section2</mat-label>
                            <textarea formControlName="section2" matInput value={{rowselect_section2}} [ngClass]="{ 'is-invalid': submitted && f.section1.errors }"></textarea>
                        </mat-form-field>
                    </mat-tab>
                    <mat-tab label="Image">
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <input formControlName="file1" id="file1" class="file-input-btn" type="file" accept='image/*' (change)="preview1($event.target.files)" style="margin-top: 30px;" [ngClass]="{ 'is-invalid': submitted && f.file1.errors }"/>
                                <label for="file1" class="label-btn">Choose a file</label>
                                <div *ngIf="showImage" class="text-center">
                                    <img [src]="imgURL1" height="200" *ngIf="imgURL1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="file" formControlName="file2" id="file2" class="file-input-btn" accept='image/*' (change)="preview2($event.target.files)" style="margin-top: 30px;" [ngClass]="{ 'is-invalid': submitted && f.file2.errors }"/>
                                <label for="file2" class="label-btn">Choose a file</label>
                                <div *ngIf="showImage2" class="text-center">
                                    <img [src]="imgURL2" height="200" *ngIf="imgURL2">
                                </div>
                            </div>
                        </div>
                        <button mat-raised-button class="theme-btn float-right" [disabled]="articleloading" (click)="submitArticle();" style="margin-top: 10px">
                            Submit Article
                        </button>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card>
    </form>
    <mat-card class="mb-4">
        <div class="mat-card-header">Last Story</div>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
        <mat-divider></mat-divider>
        <div class="table-responsive">
            <table class="table-devias">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Headline</th>
                        <th>Created</th>
                        <th>Account Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of dataSource">
                        <td>{{task.no}}</td>
                        <td>{{task.headline}}</td>
                        <td>{{task.article_createdate}}</td>
                        <td>{{task.u_accounttype}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[4, 8, 12]" [showFirstLastButtons]="true" [length]="totalSize"
                       [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
        </mat-paginator>
    </mat-card>
</div>
<div *ngIf="!showActions">
    <div style="text-align:center">
        <h1>
          Welcome to MSE site!
        </h1>
        <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <h2 style="text-align:center;">Now you cannot access to page. </h2>
  </div>
