.headline{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20pt;
    color: #1b5e20;
    margin-bottom: 16px
}

.section1{
    min-height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.image_section{
    padding-left: 10px;
    padding-right: 10px;

}
.row {
    display: block;
}

.mat-card-image {
    margin: 16px!important;
    max-height: 300px!important;
    max-width: 368px!important;
}
