.navbar-collapse{display: flex!important;}.navbar{margin-bottom:0!important;}.navbar-brand{padding:0!important;}
.show{opacity: 1!important;}.logoText{font-size: 2em;color: #f86e03;margin-right:12em}
